/* style.css */
body ,html{
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

#content {
    align-content: center;
    width: 100%;
    height: 100%;
}



input {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(171, 157, 157);
    border: solid;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
#inner-content{
    
    display: flex;
    flex-direction: column;
  
    
    width: 100%;
    height: 100%;
    /* height: calc(100vh / 3* 1.5); */
    background-color: #ffffff00;
    justify-content: center;
}
#login-form{
    gap: 10px;
 
    /* padding-top: 30px;  */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; 

    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}


.link{
    cursor: pointer;
}
.link:hover{
    color: #007bff;
}
.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

#main-content {
    background-color: #ffffff;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    box-shadow: 0 0 20px 0px #ddd1d1;
    border-radius: 10px;
}



.vl {

    border-left: 2px solid #eee;
    height: 100%;
    width: 2px;
    }

    .hr {
        /* display: block; */
        height: 2px;
        width: 100%;
        /* border: 0; */
        border-top: 2px solid #ccc;
        /* margin: 1em 0; */
        /* padding: 0; */
        }
    

#osm-map{
    margin: 50px;
    border-radius: 5px;
    background-color: aquamarine;
    width: 40vw;
    /* height: 100%; */
}
